<h1>@<%= current_user.username %>'s Twitter Feed</h1>

<br>
<div>
    <%= render 'tweets/form', tweet: @tweet %>
</div>
<br>
<p>Here is what your "friends" are saying: </p>
<div>
    <% @following_tweets.each do |tweet| %>
    	<div class="row">
    		<div class="col-md-8">
			    <p>
			    	<%= image_tag tweet.user.avatar.url(:thumb) %>
			    	@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %> said... •
                    <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> 
                    <%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at > 86400 %>
                </p>
			    	
					</div>
    	</div>
    	<div class="row">
    		<div class="col-md-1"></div>
    		<div class="col-md-8">
    			<div id="feedwell" class="well well-sm">
			    		<p><%= tweet.message.html_safe %></p>
			    	</div>
    		</div>
    	</div>
      
    <% end %>
</div>