<h1>@ <%= @user.username %>'s Profile & Tweets</h1>

<div class="well well-lg">
    <!-- <div class="row">
        <div class=" col-md-4">
            <%= image_tag @user.avatar.url(:show) %>
        </div> 

        <div class="col-md-8">
           <p> Name! <%=@user.name %></p>
            <p> Location: <%=@user.location %></p>
            <p> Bio: <%= @user.bio %></p>

            <p>
                <% if current_user.following.include?(@user.id) %>
                    <%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn pull-right btn-danger" %>
                <% else %>
                    <% if current_user.id != @user.id %>
                    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn pull-right btn-primary" %>
                <% end %>
                <% end %>
            </p> 
        </div>
    </div> -->

    <div class="media">
        <div class="media-left media-top">
             <%= image_tag @user.avatar.url(:show) %>
        </div>
        <div class="media-body">
            <h4 class="media-headling"><%=@user.name %></h4>
            <p> Location: <%=@user.location %></p>
            <p> Bio: <%= @user.bio %></p>

            <p>
                <% if current_user.following.include?(@user.id) %>
                    <%= link_to "Following", unfollow_path(id: @user.id), class: "btn pull-right btn-primary unfollow_btn" %>
                <% else %>
                    <% if current_user.id != @user.id %>
                    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn pull-right btn-primary" %>
                    <% else %>
                        <div>
                            <%= render 'tweets/form', tweet: @tweet %>
                        </div>
                <% end %>
                <% end %>
            </p> 
        </div>
    </div>
    
</div>

<br>

<br>

<% @user.tweets.each do |tweet| %>
    <div class="row">
            <div class="col-md-8">
                <p>
                    <%= image_tag tweet.user.avatar.url(:thumb) %>
                    @<%=tweet.user.username %> said... •
                    <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %> 
                    <%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at > 86400 %>
                </p>
                    
                    </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div id="feedwell" class="well well-sm">
                        <p><%= tweet.message.html_safe %></p>
                    </div>
            </div>
        </div>


   <!--  <div class="col-lg-10">
       <p>At <%= tweet.created_at.strftime('%B %e, %Y at %l: %M %P') %>, @ <%= tweet.user.username %> said ...</p>
        <div class="well">
            <p><%= tweet.message.html_safe %></p>
            <div class="pull-right">
                <%= link_to 'Edit', edit_tweet_path(tweet) %> | 
                <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %> 
            </div>
            
        </div> 
    </div> -->
    
<% end %>