<div>
    <h1><%= @tag.phrase %></h1>
</div>

  <!-- a place for current user stats -->
  <div class="row">
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
      <div class="col-md-4">
        <p><%= image_tag tweet.user.avatar.url(:thumb) %> <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id)%>•
        <%= time_ago_in_words(tweet.created_at) %></p>
        
      </div>
        <div class="well col-md-8">
          <%= tweet.message.html_safe %>
        </div>
    <% end %>
   </div>